.hidden {
  display: none !important;
}

* {
  font-family: Teko, sans-serif;
}

.header-background {
  background-image: url("../images/beerRun\ bg\ \(1\).jpeg");
  width: 100%;
  height: 100%;
  text-align: center;
}

.header-name,
.subheader {
  margin: 0;
  color: #faf0de;
}

a {
  text-decoration: none;
}

.header-name {
  font-size: 60px;
  height: 4rem;
}

.header-name:hover,
.random-btn,
.saved-btn {
  cursor: pointer;
}

.subheader {
  font-size: 20px;
}

.container {
  margin: 0 1rem;
}

/* HOME PAGE STYLES */

.intro,
.rndm-intro {
  font-size: 27px;
  text-align: center;
  width: 304px;
  padding: 0 1rem;
}

.home-photo {
  width: 90%;
  border-radius: 8px;
}

.city-intro,
.name-intro,
.rndm-intro,
.city-page-intro,
.faves-page-intro {
  margin-bottom: 0;
}

.textbox {
  border: 2px solid #ffca0f;
  border-radius: 8px;
  height: 1.8rem;
  width: 90%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 2.6rem;
  width: 10rem;
  color: white;
  border-radius: 8px;
  font-size: 20px;
}

.random-btn {
  background-color: #ffca0f;
  border: 1px solid #ffca0f;
}

.saved-btn {
  background-color: #ad0000;
  border: 1px solid #ad0000;
}

.random-row {
  display: flex;
  justify-content: center;
}

.saved-intro,
.saved-btn {
  margin: 1rem;
}

/* NAME SEARCH PAGE STYLES */

h3 {
  margin: 0;
  width: 95%;
  font-size: 23px;
}

ul {
  list-style: none;
  padding: 0 1rem;
}

.name-header {
  font-size: 31px;
  height: 1rem;
}

.plus {
  font-size: 50px;
  height: 18px;
  display: block;
  position: relative;
  bottom: 1rem;
}

p {
  margin: 0;
}

.description {
  font-size: 18px;
}

.page-turner {
  position: fixed;
  bottom: 0;
  left: -5%;
  height: 4rem;
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.page-page {
  text-align: center;
}

.br-list {
  margin-bottom: 4rem;
}

@media (min-width: 900px) {
  .name-header {
    font-size: 45px;
  }

  .url-p {
    font-size: 22px;
  }

  .intro,
  .rndm-intro,
  .city-page-intro,
  .faves-page-intro {
    font-size: 40px;
    width: 25rem;
    text-align: center;
  }
}
